{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/svg" href="{{ url('theme://images/logo.svg') }}"/>
        <link rel="canonical" href="{{ page.url(true, true) }}"/>

        {% block stylesheets %}
            {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
            {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
            {% do assets.addCss('theme://css/main.css', 97) %}
            {% do assets.addCss('theme://css/custom.css', 96) %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.addJs('jquery', 100) %}
        {% endblock %}
        {{ assets.js() }}

    {% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
{% block header %}
<div id="wrapper">
    <header id="header">
        <div class="inner">
            <a href="{{ home_url }}" class="logo">
                {% if page.header.content.custom_logo %}
                   {% set img_path ='/'~page.slug~'/'~img_path ~page.header.content.custom_logo|first.name %}
                {% else %}
                    {% set img_path ='theme://images/logo.svg' %}
                {% endif %}
                <span class="symbol"><img src="{{ url(img_path) }}" alt=""/></span><span class="title">{{ page.title }}</span>
            </a>
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock %}
    <nav id="menu">
        <h2>Menu</h2>
        {% include 'partials/navigation.html.twig' %}
    </nav>
    <div id="main">
        <div class="inner">
            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </div>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</div>
{% block bottom %}
    {% do assets.addJs('theme://js/skel.min.js', 100) %}
    {% do assets.addJs('theme://js/main.js', 99) %}
    {% do assets.addJs('theme://js/util.js') %}
    {{ assets.js() }}
{% endblock %}
</body>
</html>
